.titulos{
	color: #fff;
	font-size: 20px;
}

.jumbotron{
	position: relative;
	background-image: url(../img/inicio.png);
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0;
	width: 100%;
	win-height:550px;
	overflow: hidden;
}
.navbar{
	border-color: transparent;
	background: transparent;
}
.img{
	margin: 0;
}
.container{
	margin: none;
	margin-bottom: 0;
}
.cuadrado{
	width: 400px;
	height:570px;
	background: #fff;
}
.col img{
	position: absolute;
	z-index: 2;
	margin-top: 45px;
	margin-left:45px;
}
.color{
	background-color: : #000;
}
.btn-primario{
	text-decoration: none;
	font-size: 30px;
	font-weight: 100;
	color: #fff;
	margin: 10px;
}
.btn-primario:hover{
	color: #f5af99;
}
.btn-primario1{
	text-decoration: none;
	font-size: 30px;
	font-weight: 100;
	color: #000;
	margin: 10px;
}
.btn-primario1:hover{
	color: red;
}
.margen{
	margin: 1px;
	text-decoration: none;
	font-size: 30px;
	font-weight: 100;
	background: #ccc;
	position: relative;
	display: flex;
	align-items: center;
	/*padding: .5rem 1rem;*/
}
.titu{
	text-decoration: none;
	font-size: 20px;
	font-weight: 100;
	color: #fff;
}
.titul{
	text-decoration: none;
	font-size: 20px;
	font-weight: 100;
	font-variant: 70px;
	color: #000;
	margin-top: 130px;
}
.ose{
	background-color: #000;
}